@import "tailwindcss";

:root {
  --background: #f4f7fd;
  --foreground: #171717;
}

/* Light theme */
[data-theme="light"] {
  --background: #f4f7fd;
  --foreground: #000112;
  --nav-background: #fff;
}

/* Dark theme */
[data-theme="dark"] {
  --background: #20212c;
  --foreground: #ffffff;
  --nav-background: #2b2c37;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-nav-background: var(--nav-background);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --color-primary-red: #ea5555;
  --color-secondary-red: #ff9898;
  --color-main-purple: #635fc7;
  --color-secondary-red: #a8a4ff;
  --color-primary-black: #000112;
  --color-very-dark-grey: #20212c;
  --color-dark-grey: #2b2c37;
  --color-secondary-grey: #3e3f4e;
  --color-medium-grey: #828fa3;
  --color-light-blue: #e4ebfa;
  --color-light-grey: #f4f7fd;

  --text-15px: 15px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}
