@import "tailwindcss";

:root {
  --background: #f4f7fd;
  --foreground: #171717;
}

/* Light theme */
[data-theme="light"] {
  --background: #f4f7fd;
  --foreground: #000112;
  --nav-background: #fff;
  --add-task: #fff;

  --lines: #e4ebfa;
  --gradient-overlay: linear-gradient(
    180deg,
    #e9effa 0%,
    rgba(233, 239, 250, 0.5) 100%
  );
  --view-modal: #828fa3;
  --cancel-btn: #635fc71a;
}

/* Dark theme */
[data-theme="dark"] {
  --background: #20212c;
  --foreground: #ffffff;
  --nav-background: #2b2c37;
  --lines: #3e3f4e;
  --add-task: #20212c;
  --gradient-overlay: linear-gradient(
    180deg,
    rgba(43, 44, 55, 0.25) 0%,
    rgba(43, 44, 55, 0.13) 100%
  );
  --view-modal: #fff;
  --cancel-btn: #fff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-nav-background: var(--nav-background);
  --background-image-gradient-overlay: var(--gradient-overlay);
  --color-add-task: var(--add-task);
  --color-view-modal: var(--view-modal);
  --color-cancel-btn: var(--cancel-btn);

  --color-lines: var(--lines);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --color-primary-red: #ea5555;
  --color-secondary-red: #ff9898;
  --color-main-purple: #635fc7;
  --color-main-purple-hover: #a8a4ff;
  --color-primary-black: #000112;
  --color-very-dark-grey: #20212c;
  --color-dark-grey: #2b2c37;
  --color-secondary-grey: #3e3f4e;
  --color-medium-grey: #828fa3;
  --color-light-blue: #e4ebfa;
  --color-light-grey: #f4f7fd;
  --shadow-custom: 0px 4px 6px 0px rgba(54, 78, 126, 0.1);

  --text-15px: 15px;
  --text-12px: 12px;
  --text-13px: 13px;

  --radius-6px: 6px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}
